.navbar {
    background-color: #8ed2c9;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #d55b3e;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .user-info {
    font-size: 14px;
    color: black;
    padding: 0 10px;
    display: flex;
    align-items: center;
    white-space: pre;
}

.navbar .user-info a {
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.sidebar-left,
.sidebar-right {
    background-color: #fcf4d9;
    padding: 20px;
}

.container-fluid > .row:first-child {
    height: 100%;
}
