{% extends "layout.html" %}

{% block title %}
Uusi ilmoitus
{% endblock %}

{% block header %}
<h1>Uusi ilmoitus</h1>
{% endblock %}

{% block content %}
<form action="/add_listing" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
        Täytä alle kotia etsivän lemmikin tiedot. Tähdellä (*) merkityt kentät ovat pakollisia.
    <p>
        Nimi* (korkeintaan 30 merkkiä)
        <br>
        <input type="text" name="name" value="{{ request.form["name"] }}" maxlength="30">
    <p>
        Ikä*
        <br>
        <input type="number" id="age_years" name="age_years" min="0" max="200" value="{{ request.form.get("age_years", 0) }}" onkeydown="return false">
        vuotta,
        <input type="number" id="age_months" name="age_months" min="0" max="11" value="{{ request.form.get("age_months", 0) }}" onkeydown="return false">
        kuukautta
    <p>
        Sukupuoli*
        <br>
        <select name="sex">
            <option value="male" {% if request.form["sex"] == "male" %}selected{% endif %}>Koiras</option>
            <option value="female" {% if request.form["sex"] == "female" %}selected{% endif %}>Naaras</option>
            <option value="unknown" {% if request.form["sex"] == "unknown" %}selected{% endif %}>Tuntematon</option>
        </select>
    <p>
        Sijainti*
        <br>
        <select name="location">
            {% for location in locations %}
                <option value="{{ location.id }}" {% if request.form["location"] == location.id|string %}selected{% endif %}>
                    {{ location.name }}
                </option>
            {% endfor %}
        </select>
    <p>
        Kategoria*
        <br>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if request.form["category"] == category.id|string %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    <p>
        Tarkempi laji/rotu (korkeintaan 50 merkkiä)
        <br>
        <input type="text" name="species_breed" value="{{ request.form["species_breed"] }}" maxlength="50">
    <p>
        Alla voit kuvailla tarkemmin lemmikkiä, esimerkiksi sen luonnetta ja tarpeita.
        <br>
        <textarea id="description" name="description" rows="15" cols="70" maxlength="2000" oninput="updateCharCount()">{{ request.form.get("description", "") }}</textarea>
        <br>
        <span id="char_count">{{ 2000 - (request.form.get("description", "")|length) }}</span> merkkiä jäljellä
    </p>
    <script>
        function updateCharCount() {
            var textarea = document.getElementById("description");
            var charCount = document.getElementById("char_count");
            charCount.textContent = 2000 - textarea.value.length;
        }
    </script>   
    <p>
        <input type="submit" value="Lisää ilmoitus">
</form>

{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
