<title>Koti lemmikille</title>
<h1>Koti lemmikille</h1>

{% if session.user_id %}
    Olet kirjautunut sisään nimellä <b>{{ session.username }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
    <a href="/login">Kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a> 
{% endif %}

<h2>Tutustu kotia etsiviin lemmikkeihin:</h2>
<ul>
    {% for category in categories %}
    <li><a href="/category/{{ category.id }}">{{ category.name }}</a>
    {% endfor %}
</ul>

<h2>Etsitkö uutta kotia lemmikillesi?</h2>
{% if session.user_id %}
    Voit lisätä ilmoituksen kotia etsivästä lemmikistä <a href="/add_listing">täällä</a>
{% else %}
    Jos haluat lisätä ilmoituksen kotia etsivästä lemmikistä, <a href="/login">kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a> 
{% endif %}
