{% extends "layout.html" %}

{% block title %}
Koti lemmikille
{% endblock %}

{% block header %}
<h2 class="text-center my-5">Tervetuloa Koti lemmikille -sivustolle!</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="text-center mb-4">Tutustu kotia etsiviin lemmikkeihin:</h4>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="btn-group-vertical w-100">
                        {% for category in categories %}
                            <a href="/category/{{ category.id }}" class="btn btn-primary mb-2">
                                {{ category.name }} ({{ category.listing_count }} ilmoitusta)
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h4 class="text-center mt-5 mb-4">Etsitkö uutta kotia lemmikillesi?</h4>
            {% if session.user_id %}
                <p class="text-center">Voit lisätä ilmoituksen kotia etsivästä lemmikistä <a href="/add_listing">täällä</a></p>
            {% else %}
                <p class="text-center">Jos haluat lisätä ilmoituksen kotia etsivästä lemmikistä, <a href="/login">kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
