{% extends "layout.html" %}

{% block title %}
Koti lemmikille
{% endblock %}

{% block header %}
<h2 class="text-center my-5">Koti lemmikille</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="text-center">Tutustu kotia etsiviin lemmikkeihin:</h4>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item text-center">
                        <a href="/category/{{ category.id }}">{{ category.name }} ({{ category.listing_count }} ilmoitusta)</a>
                    </li>
                {% endfor %}
            </ul>

            <h4 class="text-center mt-4">Etsitkö uutta kotia lemmikillesi?</h4>
            {% if session.user_id %}
                <p class="text-center">Voit lisätä ilmoituksen kotia etsivästä lemmikistä <a href="/add_listing">täällä</a></p>
            {% else %}
                <p class="text-center">Jos haluat lisätä ilmoituksen kotia etsivästä lemmikistä, <a href="/login">kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
