<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for("static", filename="layout.css") }}">


<div class="navbar">
  <div class="left">
    <strong><a href="/">Koti lemmikille</a></strong>
    <div class="dropdown">
      <button class="dropbtn">Ilmoitukset
      </button>
      <div class="dropdown-content">
        <a href="/category/1">Jyrsijät</a>
        <a href="/category/2">Kissat</a>
        <a href="/category/3">Koirat</a>
        <a href="/category/4">Linnut</a>
        <a href="/category/5">Matelijat</a>
        <a href="/category/6">Muut</a>
      </div>
    </div>
    {% if session.user_id %}
      {% if not session.admin %}
        <a href="/add_listing">Lisää ilmoitus</a>
        <a href="/user_listings">Omat ilmoitukset</a>
        <a href="/threads">Viestit</a>
      {% else %}
        <a href="/admin_actions">Ylläpitäjän toiminnot</a>
      {% endif %}
    {% endif %}
  </div>
  <div class="right">
    {% if session.user_id %}
      <span class="user-info">Olet kirjautunut sisään nimellä <b>{{ session.username }}</b>. </span>
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a>
      <a href="/register">Rekisteröidy</a>
    {% endif %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidebar-left">
      {% block sidebar_left %}{% endblock %}
    </div>
    <div class="col-md-6 content">
      <header>
        {% block header %}{% endblock %}
      </header>
      <title>
        {% block title %}{% endblock %}
      </title>
      {% block content %}{% endblock %}
    </div>
    <div class="col-md-3 sidebar-right">
      {% block sidebar_right %}{% endblock %}
    </div>
  </div>
</div>
