{% extends "layout.html" %}

{% block title %}
{{ listing.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">{{ listing.name }}</h2>
                    <p><strong>Ikä:</strong> {{ listing.years }} vuotta, {{ listing.months }} kuukautta</p>
                    <p><strong>Sukupuoli:</strong> {{ listing.sex }}</p>
                    <p><strong>Sijainti:</strong> {{ listing.location_name }}</p>
                    <p><strong>Laji/rotu:</strong> {{ listing.species_breed }}</p>
                    <p><strong>Kuvaus:</strong> {{ listing.description }}</p>
                    <p><strong>Ilmoittaja:</strong> {{ listing.username }}</p>
                    <p><strong>Ilmoitus jätetty:</strong> {{ listing.created_at }}</p>
                    {% if session.user_id %}
                        {% if session.user_id != listing.user_id %}
                            {% if listing.thread_id %}
                                <p class="text-center">Olet aloittanut viestiketjun ilmoittajan kanssa.</p>
                                <div class="text-center">
                                    <button class="btn btn-primary" onclick="location.href='/thread_messages/{{ listing.thread_id }}'">Näytä viestit</button>
                                </div>
                            {% else %}
                                <form action="/create_thread" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                    <input type="hidden" name="lister_id" value="{{ listing.user_id }}">
                                    <div class="form-group">
                                        <label for="message{{ listing.id }}">Oletko kiinnostunut tarjoamaan kodin tälle lemmikille? Lähetä viesti ilmoittajalle:</label>
                                        <textarea id="message" name="message" class="form-control" rows="5" maxlength="2000" oninput="updateCharCount()">{{ request.form.get("message", "") }}</textarea>
                                        <small id="char_count" class="form-text text-muted">{{ 2000 - (request.form.get("message", "")|length) }} merkkiä jäljellä</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Lähetä</button>
                                </form>
                            {% endif %}

                            {% if errors %}
                                <div class="alert alert-danger mt-3">
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            
                            {% if message %}
                                <div class="alert alert-success mt-3 text-center">
                                    <p>{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p class="text-center">
                            Oletko kiinnostunut tarjoamaan kodin tälle lemmikille?
                            <br>
                            <a href="/login">Kirjaudu sisään</a> tai <a href="/register">rekisteröidy</a> lähettääksesi viestin ilmoittajalle.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateCharCount() {
        var textarea = document.getElementById("message");
        var charCount = document.getElementById("char_count");
        charCount.textContent = 2000 - textarea.value.length;
    }
</script>   
{% endblock %}
