{% extends "layout.html" %}

{% block title %}
Sisäänkirjautuminen
{% endblock %}

{% block header %}
<h1>Sisäänkirjautuminen</h1>
{% endblock %}

{% block content %}
<form action="/login" method="post">
    <p>
        Käyttäjätunnus:
        <input type="text" name="username" value="{{ request.form["username"] }}">
    <p>
        Salasana:
        <input type="password" name="password" value="{{ request.form["password"] }}">
    <p>
        <input type="submit" value="Kirjaudu sisään">
</form>
    
{% if message %}
    <p>
        Virhe: {{ message }}
{% endif %}
    
<p>
    Jos sinulla ei ole vielä käyttäjätunnusta, voit rekisteröityä <a href="/register">täällä</a>
{% endblock %}
