{% extends "layout.html" %}

{% block title %}
{{ thread_subject }}
{% endblock %}

{% block header %}
<h2 class="text-center my-5">{{ thread_subject }}</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {% if session.user_id %}
                <form action="/send_message" method="post">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="thread_id" value="{{ thread_id }}">
                    <div class="form-group">
                        <label for="message{{ listing_id }}">Lähetä viesti:</label>
                        <textarea id="message" name="message" class="form-control" rows="5" maxlength="2000" oninput="updateCharCount()">{{ request.form.get("message", "") }}</textarea>
                        <small id="char_count" class="form-text text-muted">{{ 2000 - (request.form.get("message", "")|length) }} merkkiä jäljellä</small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Lähetä</button>
                </form>

                {% if errors %}
                    <div class="alert alert-danger mt-3">
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-12">
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item">
                        <p><strong>{{ message.username }}</strong>:</p>
                        <p>
                            {% if message.message == "Käyttäjä on poistanut viestin" %}
                                <em>{{ message.message }}</em>
                            {% else %}
                                {{ message.message }}{% endif %}
                        </p>
                        <p>{{ message.created_at.strftime('%d.%m.%Y %H:%M') }}</p>
                        {% if session.user_id == message.sender_id and message.message != "Käyttäjä on poistanut viestin" %}
                            <form action="/delete_message/{{ message.message_id }}" method="post" class="d-inline">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="hidden" name="thread_id" value="{{ thread_id }}">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Haluatko varmasti poistaa tämän viestin?');">Poista</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    function updateCharCount() {
        var textarea = document.getElementById("message");
        var charCount = document.getElementById("char_count");
        charCount.textContent = 2000 - textarea.value.length;
    }
</script>
{% endblock %}
