{% extends "layout.html" %}

{% block title %}
Viestiketjut
{% endblock %}

{% block header %}
<h1>Viestiketjut</h1>
{% endblock %}

{% block content %}
<ul>
    {% for thread in threads %}
        <li>
            <p>Aihe: {{ thread.listing_name }}</p>
            <p>Käyttäjä: {{ thread.username }}</p>
            <p>Uusin viesti: {{ thread.message_created_at.strftime('%d.%m.%Y %H:%M') }}</p>
            <button onclick="location.href='/thread_messages/{{ thread.id }}'">Näytä viestit</button>
        </li>
    {% endfor %}
</ul>
{% endblock %}    
