{% extends "layout.html" %}

{% block title %}
Omat ilmoitukset
{% endblock %}

{% block header %}
<h1>Omat ilmoitukset</h1>
{% endblock %}

{% block content %}
<ul>
    {% for listing in listings %}
        <li>
            <h2>{{ listing.name }}</h2>
            <p>Ikä: {{ listing.years }} vuotta, {{ listing.months }} kuukautta</p>
            <p>Sukupuoli: {{ listing.sex }}</p>
            <p>Sijainti: {{ listing.location_name }}</p>
            <p>Laji/rotu: {{ listing.species_breed }}</p>
            <p>Kuvaus: {{ listing.description }}</p>
            <p>Ilmoittaja: {{ listing.username }}</p>
            <p>Ilmoitus jätetty: {{ listing.created_at }}</p>
            <form action="/delete_listing/{{ listing.id }}" method="post">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input type="submit" value="Poista" onclick="return confirm('Haluatko varmasti poistaa ilmoituksen?');">
            </form>
        </li>
    {% endfor %}
</ul>

{% if message %}
    <p>
        Virhe: {{ message }}
{% endif %}
{% endblock %}
