{% extends "layout.html" %}

{% block title %}
Omat ilmoitukset
{% endblock %}

{% block header %}
<h2 class="text-center mt-5 mb-2">Omat ilmoitukset</h2>
<p class="text-center mb-4">{{ listings|length }} ilmoitusta</p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <ul class="list-group">
                {% for listing in listings %}
                    <li class="list-group-item">
                        <h4 class="text-center">{{ listing.name }}</h4>
                        <p><strong>Ikä:</strong> {{ listing.years }} vuotta, {{ listing.months }} kuukautta</p>
                        <p><strong>Sukupuoli:</strong> {{ listing.sex }}</p>
                        <p><strong>Sijainti:</strong> {{ listing.location_name }}</p>
                        <p><strong>Laji/rotu:</strong> {{ listing.species_breed }}</p>
                        <p><strong>Kuvaus:</strong> {{ listing.description }}</p>
                        <p><strong>Ilmoittaja:</strong> {{ listing.username }}</p>
                        <p><strong>Ilmoitus jätetty:</strong> {{ listing.created_at }}</p>
                        <form action="/delete_listing/{{ listing.id }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input type="submit" class="btn btn-danger btn-block" value="Poista" onclick="return confirm('Haluatko varmasti poistaa ilmoituksen?');">
                        </form>
                    </li>
                {% endfor %}
            </ul>

            {% if message %}
                <div class="alert alert-danger mt-3">
                    Virhe: {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
